@{


}


@if (User.Identity.IsAuthenticated)
{
    <h1>Добро пожаловать, @User.Identity.Name</h1>
    @if (User.IsInRole("Admin"))
    {
        <p class="lead">
            <a asp-controller="Users" asp-action="Index" class="btn btn-lg btn-secondary">Все пользователи</a>
        </p>
        <p class="lead">
            <a href="Roles" class="btn btn-lg btn-secondary">Список ролей</a>
        </p>
    }
    <form  method="post" asp-controller="Account" asp-action="Logout">
        <input class="btn btn-lg btn-secondary" type="submit" value="Выход" />
    </form>
}
else
{
    <a class="btn btn-lg btn-secondary" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="btn btn-lg btn-secondary" asp-controller="Account" asp-action="Register">Регистрация</a>





}