<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeeebLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/cover.css" rel="stylesheet" type="text/css">
    <link href="~/css/bg.css" rel="stylesheet" type="text/css">


</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Библиотека</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" asp-action="Index" asp-controller="Home">Домашняя страница</a>
                    <a class="nav-link active" asp-action="Index" asp-controller="Book">Список книг</a>
                    <a class="nav-link active" asp-action="Index" asp-controller="Order">Заказы</a>
                    @if (User.IsInRole("Библиотекарь"))
                    {
                        <a class="nav-link active" asp-action="Reports" asp-controller="Order">Отчёты</a>
                    }
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!--
    ＜￣｀ヽ、　　　　　　　／ ￣ ＞
      ゝ、　　＼　／⌒ヽ,ノ 　 /´
         ゝ、 （ ( ͡⊙ ͜ʖ ͡⊙) ／
             >　 　 　,ノ
            ∠_,,,/´
             -->
</body>
    </html>
