@model WeeebLibrary.Models.CartViewModel
<a class="cotainer">
    @foreach (var el in Model.cart.listItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Книга:</b>@el.book.Name <br />
            
        </div>
    }
    <hr />
    <a class="fancybox-2 btn btn-default" asp-controller="Order" asp-action="Checkout">Забронировать</a>
</a>