@model WeeebLibrary.Models.CartViewModel
<a class="cotainer">
    @foreach (var el in Model.cart.ListItems)
    {
        <div class="alert alert-warning mt-3">
            <b><a asp-controller="Book" asp-action="Details" asp-route-id="@el.book.Id">@el.book.Name</a></b> <br />
            
        </div>
    }
    <hr />
    <a class="fancybox-2 btn btn-default" asp-controller="Order" asp-action="Checkout">Забронировать</a>
</a>